<img align="right" width="125" src="https://www.ou.nl/documents/40554/3255217/Logo_OU.jpg"/>

<br>


<center> <font size ="6" color='red'> IB3502 - Python Programming </font></center>
<center> <font size ="5" color='red'> Week 2</font></center>
<br> 
<font size ="5" color='red'> Python Data Types</font></center> <br>


<font size ="2" color='red'> dr. Murat Firat </font></center>


**_Learning Objective:_** <br>
 Understanding the properties of Python data types and their functions. 

For basic information, you can read the following <a href="https://www.geeksforgeeks.org/python-data-types/"> tutorial</a>

----------
__Variable Type__

Check if a variable is an instance

In [5]:
var_int = isinstance(42,int)    # also float, string, list..

if var_int: 
    print("Variable is an integer!")
else: 
    print(" Variable is not an integer!")

Variable is an integer!

----------
Check the identity of a variable

In [8]:
number = 42
num_id = id(number)

print(num_id)

number = 43
num_id = id(number)
print(num_id)


mylist = [1,2,3]
list_id = id(mylist)

140732249708616
140732249708648

----------
Check type of a variable

In [13]:
num_type = type(number)

print(num_type)
print(type("Hello, World!"))
print(type([1, 2, 3]))

<class 'int'>
<class 'str'>
<class 'list'>

----------
In a collection type, you have the collection’s identity and probably several item identities. You can modify the value—and, therefore, the identity—of some of these items while leaving the collection’s identity unchanged. In that case, you have a mutable collection.

In [20]:
number = 42 
print(id(number))

number = 43 
print(id(number))

mylist = [1,2,3]
print(mylist,id(mylist))

mylist[1] = 5
print(mylist,id(mylist))

140732249708616
140732249708648
[1, 2, 3] 2095331694528
[1, 5, 3] 2095331694528

----------
<font  color='red'>  __Strings__ </font>

Equality and identity: Strings

In [23]:
fruit1 = "banana"
fruit2 = "banana"

print(fruit1 == fruit2 )
print(fruit1 is fruit2 )

print(id(fruit1) == id(fruit2) )

number = 13
number2 = 13

print(number is number2)

True
True
True
True

----------
Any memory saving for lists as for strings?

In [26]:
List1 = [1,2,3]
List2 = [1,2,3]


print(List1 == List2 )
print(List1 is List2 )

True
False

----------
Index function for strings

In [82]:
mystring = "I am a string"
print(mystring.index("I"))
print(mystring.index("me"))

0

ValueError: substring not found

----------
Reversing string via slicing

In [85]:
mystring = "saippuakivikauppias"

print(mystring[::-1])

mystring = "I am not palindrome"

print(mystring[::-1])

saippuakivikauppias
emordnilap ton ma I

----------
Python saves memory by assigning the same memory to the variables that have same values.

In [29]:
a = 257
b = 257

print(id(a),id(b))


a = 'test'*5
b = 'test'*5
print(a)
print(len(a), id(a), id(b), a is b)

a = 'test'*6
b = 'test'*6
print(len(a), id(a), id(b), a is b)

fruit = "my_banana as"
fruit2 = "my_banana as"


print(fruit is fruit2 )

2095329000720 2095329000752
testtesttesttesttest
20 2095331539216 2095331539216 True
24 2095331526176 2095331526176 True
False

----------
Assigning new values to immutable data type integer

In [32]:
a = 5
b = a

print(a,b,id(a),id(b))

a = 10

print(a,b,id(a),id(b))

5 5 140732249707432 140732249707432
10 5 140732249707592 140732249707432

----------
If an operation is executed on an immutable object, then its label is assigned to another memory location of the new value.

In [35]:
mystr = "PYTHON"
print(mystr,id(mystr))

mystr = mystr.lower()

print(mystr,id(mystr))

PYTHON 2095277767600
python 2095321836912

----------
Slicing strings

In [43]:
'''
Output:
Characters of string variable fruit:  ['0-b', '1-a', '2-n', '3-a', '4-n', '5-a']
a banana
b banan
c bana
c nan
'''

fruit = "banana"

print("Characters of string variable fruit: ",[str(i)+'-'+fruit[i] for i in range(len(fruit))])

print('a',fruit[:])    # a
print('b',fruit[:-1])  # b
print('c',fruit[0:4])  # c
print('d',fruit[2:5])  # d

print('e',fruit[2:7])  # e
print('f',fruit[-10:7])  # f

Characters of string variable fruit:  ['0-b', '1-a', '2-n', '3-a', '4-n', '5-a']
a banana
b banan
c bana
d nan
e nana
f banana

----------
Find function for strings

In [88]:
mystring = "I am a string"

print(mystring.find("I"))
print(mystring.find("me"))

mystring = "I am a string"

if mystring.find("I") == -1: 
     print("I is not in the string")
else:
     print("I is in the string")

0
-1
I is in the string

----------
Checking a substring in a string

In [91]:
mystring = "I am a string"

if "I" in mystring:
     print("I is in the string")
else:
     print("I is not in the string")

I is in the string

----------
Example, separating the user information from the input

In [96]:
user_input = input("Type your name, age, and education by separating commas: ") 

user_name = user_input[:user_input.find(",")]
aftername = user_input[user_input.find(user_name)+len(user_name)+1:]
user_age = aftername[:aftername.find(",")]
user_education = aftername[aftername.find(user_age)+len(user_age)+1:]

print('user_name:',user_name)
print('user_age:',user_age)
print('user_education:',user_education)

Type your name, age, and education by separating commas:  John, 40, college

user_name: John
user_age:  40
user_education:  college

----------
<font  color='red'> __Lists__ </font> <br>

Constructing lists

In [60]:
my_list = [1,2,3]

my_list2 = [1]
my_list2.append("banana")
my_list2.insert(0,my_list)

print(my_list2)

[[1, 2, 3], 1, 'banana']

----------
Shallow copy

In [63]:
original_list = [[1,2,3],[4,5,6],[7,8,9]]

copy_list1 = original_list
copy_list2 = original_list.copy()

copy_list1[0][0] = 100

print(copy_list1)
print(copy_list2)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]
[[100, 2, 3], [4, 5, 6], [7, 8, 9]]

----------
Deep copy

In [66]:
import copy as cp
original_list = [[1,2,3],[4,5,6],[7,8,9]]

copy_list1 = original_list
copy_list2 = cp.deepcopy(original_list)

copy_list1[0][0] = 100

print(original_list)
print(copy_list2)

[[100, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

----------
Below, when we equated List2 to List1, both variables have value of the list reference. Any change in the items of the list does not modify the list reference, since both keep on pointing the changed items.

In [38]:
List1 = [5,10,15]
List2 = List1

List1.append(20)
List2[0] = 100
print(List1)
print(List2)

[100, 10, 15, 20]
[100, 10, 15, 20]

----------
List slicing

In [69]:
mylist = [1,2,3,4,5,6,7,8,9]

print(mylist[:])
print(mylist[::])
print(mylist[3:])
print(mylist[:5])
print(mylist[-5:-3])
print(mylist[0:7:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[5, 6]
[1, 4, 7]

----------
Reversing list via slicing

In [73]:
mylist = [1,2,3,4,5,6,7,8,9]

print(mylist[::-1])

mylist = [1,2,3,4,5,4,3,2,1]

print(mylist[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 4, 3, 2, 1]

----------
Mutiples of lists with * operator

In [76]:
mylist = [1,2]

double_list = mylist*2
print(double_list)

triple_list = mylist*3
print(triple_list)

[1, 2, 1, 2]
[1, 2, 1, 2, 1, 2]

----------
Index function for lists

In [79]:
mylist = [1,2,3,4,5,6, "I","You"]

print(mylist.index("I"))

print(mylist.index(2))

print(mylist.index("me"))

6
1

ValueError: 'me' is not in list

----------
List comprehension

In [99]:
my_sentence = "Python is fun to program and easy to learn!"

words = my_sentence.split()
word_list = [word.capitalize() for word in words] 

print(word_list)

['Python', 'Is', 'Fun', 'To', 'Program', 'And', 'Easy', 'To', 'Learn!']

----------
List comprehension in a compact way

In [102]:
my_sentence = "Python is fun to program and easy to learn!"
words = my_sentence.split()
word_list = [word.capitalize() for word in words] 

print(word_list)

my_sentence = "Python is fun to program and easy to learn!"
word_list = [word.capitalize() for word in my_sentence.split()] 

print(word_list)

['Python', 'Is', 'Fun', 'To', 'Program', 'And', 'Easy', 'To', 'Learn!']
['Python', 'Is', 'Fun', 'To', 'Program', 'And', 'Easy', 'To', 'Learn!']

----------
Deep copy via list comprehension

In [105]:
Mylist = [1,2,3,4,5]

OtherList = [x for x in Mylist]

print(Mylist == OtherList)

print(id(Mylist),id(OtherList))

True
2095361680832 2095361673216

----------
A special sublist via list comprehension

In [108]:
Mylist = [1,2,3,4,5,6,7,8,9,10]

Even_List = [x for x in Mylist if x%2 ==0]
print(Even_List)

Half_numbers =  [x/2 for x in Mylist]
print(Half_numbers)

[2, 4, 6, 8, 10]
[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0]

----------
Operations in lists

In [111]:
# Concatenation - Way 1:
list1 = [10, 11, 12, 13, 14] 
list2 = [20, 30, 42] 
# addition operator "+" is used.

final_list = list1 + list2 


print ("Concatenated list:\n" + str(final_list)) 

# Concatenation - Way 2:
final_list = [j for i in [list1, list2] for j in i]
# List comprehension way of nested lists.

print ("Concatenated list:\n" + str(final_list)) 


# Sorting of elements in a list
list1 = [15,10, 22, 11, 12, 33, 13, 14] 
list_sorted = sorted(list1)
print ("Sorted list:\n" + str(list_sorted)) 


# Sorting list of tuples with respect to one specific item of tuples. 
student_list = [('John',25),('Bart',35),('Stefano',27),('Murat',20)]

# Note that, here we use lambda function first time in our lectures.
# Here, lambda function specifies the particular element of part of the element to use in sorting.  

sorted_list = sorted(student_list, key=lambda x: x[1]) 

print ("Sorted list:\n" + str(sorted_list))

Concatenated list:
[10, 11, 12, 13, 14, 20, 30, 42]
Concatenated list:
[10, 11, 12, 13, 14, 20, 30, 42]
Sorted list:
[10, 11, 12, 13, 14, 15, 22, 33]
Sorted list:
[('Murat', 20), ('John', 25), ('Stefano', 27), ('Bart', 35)]

----------
<font  color='red'> __Python Tuples__ </font> <br>

A Python tuple is also an ordered collection of Python objects. The only difference between a tuple and a list is that tuples are immutable. Tuples cannot be modified after it is created.

In [123]:
Latitude = (37,14,6,'N')
Longitude = (115,48,40,'W')

User_info = ("Area 51", Latitude, Longitude)

print(User_info)

('Area 51', (37, 14, 6, 'N'), (115, 48, 40, 'W'))

In [125]:
# Accessing Tuple with Indexing
print(User_info[0])

# Accessing a range of elements using slicing
print(User_info[:1])  

# Tuple unpacking, 
address, latitude, longitude = User_info
print(address)
print(latitude)
print(longitude)

Area 51
('Area 51',)
Area 51
(37, 14, 6, 'N')
(115, 48, 40, 'W')

----------
Concatenation of Tuples

In [128]:
tup1 = (0, 1, 2, 3)
tup2 = ('Geeks', 'For', 'Geeks')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'Geeks', 'For', 'Geeks')

----------
Slicing of Tuples

In [130]:
# Slicing of a Tuple with Numbers
tup = tuple('IB3502PYTHON')

# Removing First element
print(tup[1:])

# Reversing the Tuple
print(tup[::-1])

# Printing elements of a Range
print(tup[4:9])

('B', '3', '5', '0', '2', 'P', 'Y', 'T', 'H', 'O', 'N')
('N', 'O', 'H', 'T', 'Y', 'P', '2', '0', '5', '3', 'B', 'I')
('0', '2', 'P', 'Y', 'T')

----------
Tuple built-in methods

In [144]:
print(tup.index("2")) # returns the index of first occurance 
print(tup.count("2")) # returns the number of occurances
print(len(tup),sorted(tup)) # returns the number of occurances

5
1
12 ['0', '2', '3', '5', 'B', 'H', 'I', 'N', 'O', 'P', 'T', 'Y']

----------
<font  color='red'> __Python Sets__ </font> <br>

 A Python set is an unordered collection of data types that is iterable, mutable, and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

In [149]:
Question_topics_addition= set(["2+1=?", "2+2=?", "2+3=?"])
print(Question_topics_addition)

{'2+3=?', '2+1=?', '2+2=?'}

----------
Python Set operations

In [151]:
Tags_Python_Lecture_1= set(["Python", "If-Else", "While", "For"])
Tags_Python_Lecture_2= set(["Python", "String", "List", "Tuple", "Set", "Dictionary"])
print(Tags_Python_Lecture_2)
# Output: {'Tuple', 'List', 'Set', 'Dictionary', 'String’}
print(Tags_Python_Lecture_1.intersection(Tags_Python_Lecture_2))
print(Tags_Python_Lecture_1.union(Tags_Python_Lecture_2))
print(Tags_Python_Lecture_1 - Tags_Python_Lecture_1.intersection(Tags_Python_Lecture_2))

{'Tuple', 'List', 'Python', 'Set', 'Dictionary', 'String'}
{'Python'}
{'Tuple', 'List', 'Python', 'Set', 'Dictionary', 'For', 'String', 'While', 'If-Else'}
{'While', 'If-Else', 'For'}

----------
Creating Sets

In [163]:
# Creating a Set
set1 = set()
print(set1)

set1 = set("IB3502Python")
print(set1)

# Creating a Set with the use of a List
set1 = set(["Python", "Data", "Types"])
print(set1)

# Creating a Set with the use of a tuple
tup = ("Python", "Data", "Types")
print(set(tup))

# Creating a Set with the use of a dictionary
d = {"Python": 1, "Data": 2, "Types": 3}
print(set(d))

set()
{'h', '5', '0', 'B', 'o', 'n', '2', 'y', 't', 'I', 'P', '3'}
{'Types', 'Data', 'Python'}
{'Types', 'Data', 'Python'}
{'Types', 'Data', 'Python'}

----------
Sets are unordered and unindexed

In [165]:
# Creating a set
set1 = {3, 1, 4, 1, 5, 9, 2}

# Unordered: The order of elements is not preserved
print(set1)  # Output may vary: {1, 2, 3, 4, 5, 9}

# Unindexed: Accessing elements by index is not possible
# This will raise a TypeError
try:
    print(set1[0])
except TypeError as e:
    print(e)

{1, 2, 3, 4, 5, 9}
'set' object is not subscriptable

----------
<font  color='red'> __Python Dictionaries__ </font> <br>

A dictionary in Python is a collection of data values, used to store data values like a map, unlike other Python Data Types that hold only a single value as an element, a Dictionary holds a key: value pair. Key-value is provided in the dictionary to make it more optimized. Each key-value pair in a Dictionary is separated by a colon : , whereas each key is separated by a ‘comma’.

In [170]:
Shopping_List = {"Bread":2, "Cheese":1,"Meat":750}
print(Shopping_List)

for product,no in Shopping_List.items():
    print("Buy",product,'of amount',no)
    
print(Shopping_List.keys())
print(Shopping_List.values())

# We can get the value of a key immedaitely without any list search. 
#To get the value of a key: 
print(Shopping_List["Bread"])

{'Bread': 2, 'Cheese': 1, 'Meat': 750}
Buy Bread of amount 2
Buy Cheese of amount 1
Buy Meat of amount 750
dict_keys(['Bread', 'Cheese', 'Meat'])
dict_values([2, 1, 750])
2

In [172]:
Shopping_List = dict()

Shopping_List["Bread"] = 2
Shopping_List["Cheese"] =1
Shopping_List["Meat"] = 750
print(Shopping_List)



for k,v in Shopping_List.items():
    print("Buy",k,'of amount',v)

{'Bread': 2, 'Cheese': 1, 'Meat': 750}
Buy Bread of amount 2
Buy Cheese of amount 1
Buy Meat of amount 750

----------
Operations on keys and values in dictionaries

In [175]:
myDict = {'john': 10, 'rick': 9,'ricky': 15, 'bruce': 2, 'ronald': 32}

myKeys = list(myDict.keys())
myKeys.sort()
key_sorted_dict = {i: myDict[i] for i in myKeys}

print('Sorted dictionary by keys:\n',key_sorted_dict)



# Sort based on Values
value_sorted_dict = {key:value for key, value in sorted(myDict.items(), key=lambda myDict: myDict[1])}
print('Sorted dictionary by values:\n',value_sorted_dict)

Sorted dictionary by keys:
 {'bruce': 2, 'john': 10, 'rick': 9, 'ricky': 15, 'ronald': 32}
Sorted dictionary by values:
 {'bruce': 2, 'rick': 9, 'john': 10, 'ricky': 15, 'ronald': 32}

__________________
<center> <font size = '6' color='red'>Exercises </font> </center>


To check your understanding, you can try the following  <a href="https://www.geeksforgeeks.org/quizzes/data-type-gq/?ref=roadmap"> Mini Quiz</a> 

*<font color='red'>Exercise 1</font>* <br>
Give a string perform the following operations: <br>
<ol>
<li> Obtain a new string where the first and last chars have been exchanged</li>
<li> Obtain a new string where where all occurrences of its first char have been changed to '$', except the first char itself.</li>
</ol>

__________________

*<font color='red'>Exercise 2</font>* <br>
Write a Python code that takes a list of words and returns the length of the longest one.

__________________

*<font color='red'>Exercise 3</font>* <br>

Write a Python code to sort (ascending and descending) a dictionary by value

__________________

*<font color='red'>Exercise 4</font>* <br>

Write a Python code to remove the nth index character from a non empty string.

__________________

*<font color='red'>Exercise 5</font>* <br>

Write a Python code to count the number of characters (character frequency) in a string.